<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title >Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/myCss.css}" href="/css/myCss.css"/>
  </head>
  <body>
    <header th:replace="fragments/header :: header"></header>
        <br/>
        <form name="f" th:action="@{/login}" method="POST">               
            <fieldset>
                <legend>Please Login</legend>
                
                <div style="color:red"  th:if="${param.error}">    
                    Invalid username and password.
                </div>
                
                <div style="color:green" th:if="${param.logout}"> 
                    You have been logged out.
                </div>
                
                <p><label for="username">Username</label> :
                <input type="text" id="username" name="username"/></p>  
                
                <p><label for="password">Password</label> :
                    <input type="password" id="password" name="password"/></p>
                <div>
                    <input type="hidden" name="${_csrf.parameterName}"   value="${_csrf.token}" />
                    <button type="submit">Log in</button>
                </div>
            </fieldset>
        </form>
  </body>
</html>
